{% extends "global/Page.html" %}
{% load staticfiles otree_tags %}

{% block content %}

<div>
    <p class="top">
        LSM4255 GONE FISHING
    </p>

    <div class="back container-fluid">
        <p class="bgsize" style="width:100%" >Log In</p>
        <div class="smsize">
            {% formfield player.user_name with label="Your name:" %}
            {% formfield player.student_id with label="Enter Your Student ID:" %}
            {% next_button %}
        </div>
    </div>

    <div class="bottom">
        <p>
            @National University of Singapore - <a href="http://www.lifesciences.nus.edu.sg/">Life Sciences</a>
        </p>
    </div>
</div>



{% endblock %}
