{% extends "global/Page.html" %}
{% load staticfiles otree_tags %}

{% block content %}

<style>
.bottom{
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    font-weight: bold;
    font-size: 20px;
    font-family: "Comic Sans MS", cursive, sans-serif;
    color: white;
    text-align: center;
    background: lightblue;
}
</style>

<div>
<p class="top">LSM4225 GONE FISHING</p>

    <div class="back container-fluid">
        <p class="bgsize">Log In</p>
        <div class="smsize">
        {% formfield player.user_name with label="Your name:" %}
        {% formfield player.student_id with label="Enter Your Student ID:" %}
        {% next_button %}
        </div>
    </div>

<div class="bottom">@National University of Singapore - Biology</div>
</div>



{% endblock %}
