{% extends "global/Page.html" %}
{% load staticfiles otree_tags %}

{% block title %}
        Year {{ year_number }} Result
{% endblock %}

{% block styles %}
    <style>
        mark{
            font-size:25px;
            color:dodgerblue;
            background-color: floralwhite;
        }
    @media (max-width:650px) {
      .back {
          margin-top: 50px;
      }
    }

.otree-timer {
    display: none;
}
</style>
{% endblock %}
{% block content %}
<div>
    <p class="top">
        LSM4255 GONE FISHING
    </p>

    <div class="back container-fluid">
        <p class="bgsize" style="width:100%" >Year {{ year_number }} Result</p>
        <div class="smsize">
            You now have <mark>{{ num_total_fish_caught }}</mark> in total.
            <p></p>
            There are now <mark>{{ num_fish_left_in_fishery }}</mark> fish left in fishery.
            <p></p>
            {% next_button %}
        </div>
    </div>

    <div class="bottom">
        <p>
            @National University of Singapore - <a href="http://www.lifesciences.nus.edu.sg/">Life Sciences</a>
        </p>
    </div>

</div>
{% endblock %}
