{% extends "global/Page.html" %}
{% load staticfiles otree_tags %}
{% block scripts %}
    <script src="{% static "highcharts/highcharts.js" %}"></script>
    <script src="{% static "highcharts/modules/exporting.js" %}"></script>
    <script>
    var data = {{ catch_history|json }}
    if (data.length > 1) {
        Highcharts.chart('graph', {
            title: {
                text: 'Fishery History'
            },
            yAxis: {
                title: {
                    text: 'Number of fish'
                }
            },
            legend: {
                layout: 'vertical',
                align: 'right',
                verticalAlign: 'middle'
            },
            plotOptions: {
                series: {
                // Remember to change hard-coded value!!!!!
                pointStart: 2017,
                }
            },
            series: [{
                name: 'Fish count',
                data: {{ catch_history|json }}
            }],
            responsive: {
                rules: [{
                    condition: {
                        maxWidth: 500
                },
                chartOptions: {
                    legend: {
                        layout: 'horizontal',
                        align: 'center',
                        verticalAlign: 'bottom'
                    }
                }
            }]
        }
    });
    }
    </script>
{% endblock %}
{% block title %}
    Catch
{% endblock %}

{% block content %}
    <p>
        Welcome, {{ player_name }}!
    </p>
    <p>
        Year {{ year_number }}:
    </p>

    <p>
        {# Part1: fishery status #}
        {# fishery image #}
    </p>

    <p>
        {# Part2: no of fish you caught #}
        {# No. of fish you've caught last year : {{ player.num_fish_caught_this_year }} #}
        <p>Total no. of fish you've caught : {{ player.participant.payoff }}</p>
        {# fish caught image #}
    </p>

    {% formfield player.num_fish_caught_this_year with label="Choose the number of fish you want to catch: " %}
    {% next_button %}

    <p>
        {# Part3: graph #}
        <div id="graph"></div>
    </p>

    <table class="table">
        {# Part4: show parameters #}
        <tr>
            <td>Intrinsic growth rate(r)</td><td>{{ intrinsic_growth_rate }}</td>
        </tr>
        <tr>
            <td>Strength of density regulation(a)</td><td>{{ strength_of_density_regulation }}</td>
        </tr>
        <tr>
            <td>Sustainable yield(H_max)</td><td>{{ sustainable_yield }}</td>
        </tr>
        <tr>
            <td>Total number of fish left</td><td>{{ num_fish_left_in_fishery }}</td>
        </tr>
    </table>
{% endblock %}
