{% extends "global/Page.html" %}
{% load staticfiles otree_tags %}

{% block title %}
        Year {{ year_number }} Result
{% endblock %}

{% block content %}
<div class="col-xs-1 col-md-3"></div>
<div class="back infoback col-xs-10 col-md-6 col-lg-6">
    <h1>Year {{ year_number }} Result</h1>
    <p class="info">
        You now have {{ num_total_fish_caught }} in total. <br/>
        There are now {{ num_fish_left_in_fishery }} fish left in fishery.
    </p>
    <div class="centre">{% next_button %}</div>
</div>
{% endblock %}
