{% extends "global/Page.html" %}
{% load staticfiles otree_tags %}
{% block styles %}
<style>

.back {
    padding: 5px;
}

.choiceback{
    /*width: 30%;*/
    height: 200px;
    margin-top: 20px;
    border:2px outset lightblue;
    border-radius: 8px;
    background-color: lightblue;
    vertical-align: middle;
}

.choiceback button {
    width: 32%;
}

.choicebuttons {
    margin-top: 20px;
}

.infoback{
    /*width: 50%;*/
    height: 200px;
    margin-top: 20px;
    border:2px outset lightblue;
    border-radius: 8px;
    background-color: lightblue;
    vertical-align: middle;
}

.fishback{
    /*width: 40%;*/
    /*height: 300px;*/
    margin-top: 40px;
    border:2px outset lightblue;
    border-radius: 8px;
    background-color: lightblue;
}


.button{
    background-color: #ffdb4d;
    border: none;
    color: white;
    padding: 12px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-weight: bold;
    margin: 2px 2px;
    cursor: pointer;
}

.start{
    font-size: 15px;
    border-radius: 8px;

}

.title {
    color: white;
    margin-top: 40px;
    text-align: center;
    font-size: 35px;
}

.smsize{
    color: white;
    text-align: center;
	font-size: 20px;
}

.instruction{
    font-size: 15px;
}

p.top{

    width: 100%;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    color: white;
    background: lightblue;
}

.bottom{
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    font-weight: bold;
    font-size: 20px;
    color: white;
    text-align: center;
    background: lightblue;
}

table, td, th {
    border: 2px solid white;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    height: 50px;
    text-align: center;
}

</style>
{% endblock %}
{% block scripts %}
    <!-- Highchart stuff -->
    <script src="{% static "highcharts/highcharts.js" %}"></script>
    <script src="{% static "highcharts/modules/exporting.js" %}"></script>
    <script>
    var data = {{ each_year_fish_history|json }}
    if (data.length > -1) {
        Highcharts.chart('graph', {
            title: {
                text: 'Fishery History'
            },
            chart: {
                backgroundColor: 'lightblue'
            },
            yAxis: {
                title: {
                    text: 'Number of fish'
                }
            },
            legend: {
                y: -40, // make room for subtitle
                layout: 'vertical',
                align: 'right',
                verticalAlign: 'middle'
            },
            plotOptions: {
                series: {
                // Remember to change hard-coded value!!!!!
                pointStart: 2017,
                }
            },
            series: [{
                name: 'Fish count',
                data: {{ each_year_fish_history|json }},
                marker: {
                    fillColor: '#FFFFFF',
                    lineColor: null,
                    lineWidth: 2
                    }
                }, {
                    name: 'Yield',
                    data: {{ each_year_yield_history|json }},
                    marker: {
                        fillColor: '#8E44AD',
                        lineColor: '#8E44AD',
                        lineWidth: 2
                    }
                }, {
                    name: 'Sustainable Yield',
                    data: {{ each_year_sustainable_yield_history|json }},
                    marker: {
                        //symbol: 'cross',
                        fillColor: '#F5B041',
                        lineColor: '#F5B041',
                        lineWidth: 2
                    }
            }],

            responsive: {
                rules: [{
                    condition: {
                        maxWidth: 500
                },
                chartOptions: {
                    legend: {
                        layout: 'horizontal',
                        align: 'center',
                        verticalAlign: 'bottom'
                    }
                }
            }]
        }
    });
    }

    // Catch buttons
    $(".choice-button").click(function(){
        $($(this).data("target")).trigger('click');
        $(".next-button").trigger('click');
    });
    </script>
{% endblock %}
{% block content %}
<div>
    <p class="top" style="z-index: 1">LSM4225 GONE FISHING</p>
    <p class="bgsize title">Welcome, {{ player_name }}!</p>

    <div class="container-fluid row">
        <!-- Page padding-->
        <div class="col-xs-0 col-md-1"> </div>
        <div class="hide">
            {% formfield player.num_fish_caught_this_year%}
            {% next_button %}
        </div>
        <div class="back choiceback col-xs-12 col-md-4">
            <p class="info">How many fish do you want to catch?</p>
            <div class="choice-buttons">
                <button data-target="#id_num_fish_caught_this_year_1" class="choice-button btn btn-info btn-lg">0</button>
                <button data-target="#id_num_fish_caught_this_year_2" class="choice-button btn btn-info btn-lg">1</button>
                <button data-target="#id_num_fish_caught_this_year_3" class="choice-button btn btn-info btn-lg">2</button>
            </div>
        </div>
        <div class="col-xs-0 col-md-1"> </div>

    <div class="container-fluid row back infoback col-xs-12 col-sm-5 col-md-5 col-lg-6">
         <table class="info">
               <tr>
                   <th>Intrinsic growth rate(r)
                   </th>
                   <th>Strength of density regulation(a)
                   </th>
                   <th>Sustainable yield(Hmax)
                   </th>
                   <th>Total number of fish
                   </th>
               </tr>
               <tr>
                   <td>{{ intrinsic_growth_rate }}</td>
                   <td>{{ strength_of_density_regulation }}</td>
                   <td>{{ sustainable_yield }}</td>
                   <td>{{ num_fish_left_in_fishery }}</td>
               </tr>
           </table>
           <br/>
         <p class="info">
             Total number of fishes you have caught:
             {{ player.participant.payoff }}
         </p>

    </div>

    <div class="col-sm-2 col-md-2 col-lg-3"> </div>

    <div class="row">
        <div class="col-sm-1 col-md-1 col-lg-1"> </div>
        <div class="col-sm-1 col-md-1 col-lg-1"> </div>
        <div align="center" class="back fishback col-sm-3 col-md-5 col-lg-3">
            <p class="info">
                GRAPH
                <div id="graph"></div>
            </p>
        </div>
        <div class="col-sm-1 col-md-1 col-lg-1"> </div>
    </div>

    <div class="bottom">@National University of Singapore - Biology</div>
</div>
<div class="bottom"><p>@National University of Singapore - Biology</p></div>
{% endblock %}
