{% extends "global/Page.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    TeacherEachYearResults
{% endblock %}

{% block content %}
    <p>There are now {{ num_fish_left_in_fishery }} fish left in fishery.</p>
    <p>Current Graph:</p>

    <p>
        {# show graph here #}

    </p>

    <p>Last Year Results:</p>
    <p>
        {# show results here: #}

    </p>

    {# two buttons: next_year, stop & result  #}
    <button type="button">
        Next_year
    </button>

    <button type="button">
        Stop & Show Result
    </button>


{% endblock %}