{% extends "otree/Page.html" %}
{% load staticfiles otree_tags %}
<meta name="viewport" content="width=device-width, initial-scale=1.0">

{% block global_styles  %}
<style>
* {
    font-family: "Comic Sans MS", cursive, sans-serif;
    box-sizing: border-box;
}

body, html {
    margin: 0;
    background-image: url("{% static "global/background.png" %}");
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: black;
    height: 100%;
}


div.back{
    font-family: "Comic Sans MS", cursive, sans-serif;
    width: 450px;
    margin: 200px auto;
    padding: 20px 40px;
    border-style:solid;
    border-width: 5px;
    border-color:lightskyblue;
    background-color: floralwhite;
}

div.back2{
    font-family: "Comic Sans MS", cursive, sans-serif;
    width: 600px;
    margin: 120px auto;
    padding: 20px 40px;
    border-style: solid;
    border-width: 5px;
    border-color:lightskyblue;
    background-color: floralwhite;
}

div.bottom{
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    height: 60px;
    padding: 1rem;
    font-weight: bold;
    font-size: 15px;
    font-family: "Comic Sans MS", cursive, sans-serif;
    color: white;
    text-align: center;
    vertical-align: middle;
    background: lightblue;
}

.proper_div {
    text-align: left;
    padding: 150px;
}

p.bgsize{
    width:100%;
    color: black;
    margin-top: 20px;
	font-size: 35px;
    text-align: center;
}

.smsize * {
    color: black;
	font-size: 20px;
    text-align: center;
}

.page-header {
    display: none;
}

input[type=text] {
    width: 50%;
    padding: 10px 20px;
    margin: 8px auto;
    box-sizing: border-radius;
    font-size: 20px;
    color: #212121;
}

input[type=submit] {
    color:white;
    padding: 10px 20px;
    margin: 8px auto;
    font-size: 15px;
}

h1 {
    font-family: "Comic Sans MS", cursive, sans-serif;
}

h3 {
    font-family: "Comic Sans MS", cursive, sans-serif;
}

p.top {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    vertical-align: middle;
    padding:1rem;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    font-family: "Comic Sans MS", cursive, sans-serif;
    color: white;
    background: black;
}


div.bottom{
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    font-weight: bold;
    font-size: 15px;
    font-family: "Comic Sans MS", cursive, sans-serif;
    color: white;
    vertical-align: middle;
    text-align: center;
    background: black;
}

mark{
    font-size:25px;
    color:dodgerblue;
    background-color: floralwhite;
}

button {
    margin: 0 auto;
}

.centre {
    margin: 0 auto;
    /*display: inline-block;*/
    text-align: center;
}

.info{
    font-size: 19px;
}




/*Use a media query to add a break point at 600px:*/
@media (max-width:600px) {
      div.back{
          margin: 100px auto;
        width:100%; /*The width is 100%, when the viewport is 800px or smaller*/
      }
    div.back2{
        margin: 100px auto;
       width:100%;
    }

    p.bgsize {
        font-weight: 900;
        font-size:20px;
    }

    .smsize * {
        font-size:13px;
    }


    p.top {
      font-size:13px;
    }
    h3 {
        font-size:13px;
    }
}

</style>
{% endblock %}

{% block global_scripts  %}
{% endblock %}
